PackageRepository/TestPackage3/Types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="OrderItem">
      <xs:sequence>
        <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="quantity" type="xs:int" minOccurs="1" maxOccurs="1" />
        <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
</xs:schema>