NGinn.Lib/WorkflowDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="WorkflowDefinition" targetNamespace="http://www.nginn.org/WorkflowDefinition.1_0.xsd" elementFormDefault="qualified" xmlns="http://www.nginn.org/WorkflowDefinition.1_0.xsd" xmlns:mstns="http://tempuri.org/WorkflowDefinition.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include  schemaLocation="WorkflowDefinitionBaseTypes.xsd" />
  
  <!-- 
  Process element definition 
  -->
  <xs:complexType name="Process">
    <xs:sequence>
      <xs:element name="places">
        <!-- miejsca w procesie -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="place" type="Place" minOccurs="2" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- activity (taski) w procesie -->
      <xs:element name="tasks">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="task" type="Task" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="flows">
        <!-- przejscia miedzy stanami -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="flow" type="Flow" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="inputDataNamespace" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="additionalSchema" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
      <!-- local data type definitions -->
      <xs:element name="processDataTypes" type="TypeSetDef" minOccurs="0" maxOccurs="1" />
      <xs:element name="variables" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="variable" type="VariableDef" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="version" type="xs:int" />
  </xs:complexType>
  
  <!--
  Task definition
  -->
  <xs:complexType name="Task">
    <xs:sequence>
      <!-- input bindings for task runtime parameters -->
      <xs:element name="parameters" type="ParameterBindings" minOccurs="1" maxOccurs="1"/>
      <!-- task cancel set (list of place ids comma separated) -->
      <xs:element name="cancelSet" type="xs:string" minOccurs="0" maxOccurs="1" />
      <!-- orJoinCheckList is a list of places that should be checked for tokens when performing OR join
          This will become redundant after or-join analysis will be implemented -->
      <xs:element name="orJoinCheckList" type="xs:string" minOccurs="0" maxOccurs="1" />
      <!-- task variable and data-binding definitions -->
      <xs:element name="data-definition" type="TaskDataDefinition" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string" />
    <xs:attribute name="type" use="required" type="TaskType" />
    <xs:attribute name="joinType" type="JoinType" use="optional" /><!-- AND join by default -->
    <xs:attribute name="splitType" type="JoinType" use="optional" /><!-- AND split by default -->
    <xs:attribute name="multiInstance" type="xs:boolean" use="optional" /><!-- task is multi-instance -->
    <xs:attribute name="label" type="xs:string" use="optional" /><!-- label  -->
    <!-- task is multi-instance -->
  </xs:complexType>
  
  <xs:complexType name="Flow">
    <xs:sequence>
      <xs:element name="inputCondition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="from" type="xs:string" use="required" />
    <xs:attribute name="to" type="xs:string" use="required" />
    <xs:attribute name="evalOrder" type="xs:int" use="optional" />
    <xs:attribute name="label" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType name="JoinType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND" />
      <xs:enumeration value="XOR" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PlaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StartPlace" />
      <!-- stan poczatkowy -->
      <xs:enumeration value="EndPlace" />
      <!-- stan koncowy -->
      <xs:enumeration value="Place" />
      <!-- stan (bez dodatkowych akcji) -->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ManualTask" />
      <xs:enumeration value="ScriptTask" />
      <xs:enumeration value="SubprocessTask" />
      <xs:enumeration value="TimerTask" />
      <xs:enumeration value="CallWSTask" />
      <xs:enumeration value="ExternalTask" />
      <xs:enumeration value="NotificationTask" />
      <xs:enumeration value="EmptyTask" />
      <xs:enumeration value="ReceiveMessageTask" />
      <xs:enumeration value="CustomTask" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="type" type="PlaceType" use="required" />
    <xs:attribute name="label" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="DataBinding">
  </xs:complexType>
  <xs:complexType name="ManualTask">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScriptTask">
    <xs:sequence>
      <xs:element name="script" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubprocessTask">
    <xs:sequence>
      <xs:element name="subprocessName" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallWSTask">
    <xs:attribute name="id" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TimerTask">
    <xs:sequence>
      <xs:element name="delayTime" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="scheme" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalTask">
  </xs:complexType>
  <xs:complexType name="NotificationTask">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSchema">
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/2001/XMLSchema" processContents="skip">
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VariableDir">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local" />
      <xs:enumeration value="In" />
      <xs:enumeration value="Out" />
      <xs:enumeration value="InOut" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="BindingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CopyVar" />
      <xs:enumeration value="Xslt" />
      <xs:enumeration value="Expr" />
    </xs:restriction>
  </xs:simpleType>
  <!-- task/process data binding for variables -->
  <xs:complexType name="VariableBinding">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="expression" minOccurs="1" maxOccurs="1" type="xs:string" />
        <xs:element name="bindingXslt" minOccurs="1" maxOccurs="1">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="variable" type="xs:string" use="required" />
    <xs:attribute name="bindingType" type="BindingType" use="required" />
    <xs:attribute name="sourceVariable" type="xs:string" use="optional" />
  </xs:complexType>
  
  
  <xs:complexType name="MultiInstanceDataDefinition">
    <xs:sequence>
      <xs:choice>
        <xs:element name="foreach">
          <xs:complexType>
            <xs:attribute name="query" type="xs:string" use="required" />
            <xs:attribute name="variableName" type="xs:string" use="required"  />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="resultsVariable" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TaskDataDefinition">
    <xs:sequence>
      
      <xs:element name="variables" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="variable" type="VariableDef" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="multi-instance" minOccurs="0" maxOccurs="1" type="MultiInstanceDataDefinition" />
      
      <xs:element name="input-bindings" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binding" type="VariableBinding" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="output-bindings" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binding" type="VariableBinding" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>
  <!-- process/task variable definition. Used for building xml schemas. -->
  <xs:complexType name="VariableDef">
    <xs:complexContent>
      <xs:extension base="MemberDef">
        <xs:sequence>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="dir" type="VariableDir" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  
  <!-- runtime task parameter binding -->
  <xs:complexType name="ParameterBinding" mixed="true">
    <xs:choice>
      <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="expr" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:choice>
    <xs:attribute name="parameter" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="ParameterBindings">
    <xs:sequence>
      <xs:element name="binding" type="ParameterBinding" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="process" type="Process" />
</xs:schema>